.bg-blue {
    background-color: #2c3e50;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-foot {
    background-color: #2c3e50;
}

.bg-social {
    background-color: #3a546d;
}

#c-green {
    color: #1abc9c;
}

a:hover {
    color: white;
}

.t-white {
    color: white;
}

.t-center {
    text-align: center;
}

.wid-fixed {
    width: 300px;
}

.font-md {
    font-size: 24px;
}

.font-big {
    font-size: 56px;
}

.font-bolder {
    font-weight: 600;
}

.font-bold {
    font-weight: 400;
}

.jc-center {
    justify-content: center;
}

.round {
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
}

.inline {
    display: inline-block;
    border: 1px solid white;
    width: 12%;
    vertical-align: middle;
    opacity: 1;
}

.row-foot {
    height: 110px;
    align-items: center;
}

.inline-b {
    display: inline-block;
    border: 1px solid black;
    width: 12%;
    vertical-align: middle;
    opacity: 1;
}

.star {
    vertical-align: middle;
    padding: 15px;
    font-size: 25px;
}

.img-resp {
    width: 100%;
    border-radius: 20px;
}

.pad-small {
    padding: 10px;
}

.t-start {
    text-align: start;
}

.col-btn {
    width: 80%;
    margin: 0 auto;
    text-align: start;
}

.send-btn {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

#btn {
    padding: 10px;
    border-color: transparent;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

@media all and (min-width: 768px) {

    .navbar-l .nav-coll {
        flex-basis: aut;
        display: flex;
    }

    .navbar-l .nav-togg {
        display: none
    }

    .navbar-l .navbar-nav {
        flex-direction: row;
    }

    .navbar-l .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }